@mixin fluid($size, $tablet-size:false, $mobile-size:false, $small-mobile-size:false) {
	font-size: get-vw($size);
	// Prevent font-size from getting too big
	@media #{$wide-screen} {
	  font-size: $size;
	}

	@if $tablet-size {
		@media #{$tablet-screen} {
		  font-size: $tablet-size;
		}
	}

	@if $mobile-size {
		@media #{$mobile-screen} {
		  font-size: $mobile-size;
		}
	}

	@if $small-mobile-size {
		@media #{$small-mobile-screen} {
		  font-size: $small-mobile-size;
		}
	}
}

@mixin media($size) {
    @media all and (max-width: $size) {
      @content;
    }
  }