// rutas
$img_url  : '../assets/img/';
$font_url : '../assets/fonts/';

// colores
$base-color  : #FFF;
$brand-color : #000;

// fuentes
$base-font  : '';
$title-font : '';

// dimensiones
$menu-height : 80px;

// z-index
$zi-menu    : 100;
$zi-loading : 110;

$max-breakpoint: 1920;
$tablet-breakpoint: 768;
$mobile-breakpoint: 640;
$small-mobile-breakpoint: 480;

$wide-screen: "(min-width: #{$max-breakpoint}px)"; 
$tablet-screen: "(max-width: #{$tablet-breakpoint}px)"; 
$mobile-screen: "(max-width: #{$mobile-breakpoint}px)"; 
$small-mobile-screen: "(max-width: #{$small-mobile-breakpoint}px)"; 
