// rutas
$img_url  : '../assets/img/';
$font_url : '../assets/fonts/';

// colores
$base-color  : #FFF;
$brand-color : #000;

// fuentes
$base-font  : '';
$title-font : '';

// dimensiones
$container-width : 1024px;
$gutter-width    : 10px;

$menu-height : 80px;
$menu-gutter : 10px 15px;

// z-index
$zi-menu    : 100;
$zi-loading : 110;